@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Over 18 years we are here to help people for their needs. we give products in good quality and best price in the market.</p>
