@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Product<br/>
    Madurai, Tamilnadu<br/>
    India<br/>
    <abbr title="Phone">Ph:</abbr>
    0452-258734
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@myproduct.com.com">Support@myproduct.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@myproduct.com">Marketing@myproduct.com</a>
</address>